.env
*.env
dk
__pycache__
tempCodeRunnerFile.py
src/tempCodeRunnerFile.py
src/data/carts/limbo/*.json
src/data/carts/*.json
!srcdata/carts/0.json
!src/data/carts/1.json
src/data/wallets/*.json
!src/data/wallets/0.json
!src/data/wallets/1.json
!src/data/wallets/91.json
src/data/transactions/*.json
!src/data/transactions/0.json
!src/data/transactions/1.json
!src/data/transactions/91.json
src/trials/